<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page indisponible</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    La page de demandé n'est pas encore disponible.
    Retournez sur la page précédentes en cliquant sur ce bouton.
    <button onclick="rtn()">Retourner</button>
    <script>
    function rtn() {
       window.history.back();
    }
    </script>
</body>
</html>