<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="Illustration/Favicon/favicon_classique.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/main.css">
</head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script>
    jQuery(function(){
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200 ) { 
                    $('#scrollUp').css('right','10px');
                } else { 
                    $('#scrollUp').removeAttr( 'style' );
                }

            });
        });
    });
</script>
<body>
<!-- NavBar -->
    <!-- Header Start -->
  <header>
      <nav class="navbar">
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact us</a></li>
              <div class="search">
                  <input type="text" name="search" id="search" placeholder="Search this website">
              </div>
          </ul>
      </nav>
  </header>
    <!-- Header End -->

<script src="js/header.js"></script>