/*CSS Général*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242F3F;
    color: white;
}
h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
h2{
    text-align: center;
    display: flex;
}
h4{
    display: flex;
    text-align: center;
}
/* Division de la page en 2*/
.split-screen {
    display: flex;
}

.split-screen__half {
    flex: 1;
}
/* Camera + Carte*/
#camera{
    width: 500px;
}
/* Footer */
.sticky-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sticky-footer__header,
.sticky-footer__footer {
    flex-shrink: 0;
}

.sticky-footer__main {
    flex-grow: 1;
}
/* Scroll up*/
#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}
#to_top{
    width: 5%;
}
/*Affichage des nombres*/
#display-nombres{
    align-items: center;
}