/*Loading animation*/
body {
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    background-color: #eee;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
  }
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
/*CSS Général*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242F3F;
    color: white;
}
h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
h2{
    text-align: center;
    display: flex;
}
h4{
    display: flex;
    text-align: center;
}
/* Division de la page en 2*/
.split-screen {
    display: flex;
}

.split-screen__half {
    flex: 1;
}
/* Camera + Carte*/
#camera{
    width: 500px;
}
/* Footer */
.sticky-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sticky-footer__header,
.sticky-footer__footer {
    flex-shrink: 0;
}

.sticky-footer__main {
    flex-grow: 1;
}
/* Scroll up*/
#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}
#to_top{
    width: 5%;
}
/*Affichage des nombres*/
#display-nombres{
    align-items: center;
}