body{
    font-family: 'Quicksand', sans-serif;
    background-color: #242F3F;
    color: white;
    text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
p{
    font-size: 17px;
}
/* Meet the team */

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
  }
  
.container {
    padding: 0 16px;
  }
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
.title {
    color: floralwhite;
  }
#pfp{
    width: 100%;
}
#text-team{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
}
/* Division de la page en 2*/
.split-screen {
    display: flex;
    align-items: center;
    margin: auto;
    align-items: center;
}

.split-screen__half {
    flex: 1;
    align-items: center;
    margin: auto;
    display: flex;
}
/* Camera + Carte*/
#camera{
    height:500px;
    width: 750px;
    background:#000;
    border-radius: 5%;
}
#carte{
    border-radius: 5%;
}
/* Scroll up*/
#scrollUp{
    position: fixed;
    bottom : 10px;
    right: -340px;
    opacity: 0.6;
}
#to_top{
    width: 12.5%;
}
/* Navbar */
.navbar{
    background-color: #dbd0c0;
    border-radius: 30px;
    font-family: 'Quicksand', bold;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;

}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: #242F3F;
}
.navbar li a:hover{
    color: royalblue
}

/*Affichage des nombres*/
.display-nombres{
    font-size: 20px;
}
#table-nombres{
    margin-right: auto;
    margin-left: auto;
}
#table-valeurs{
    font-size: 40px;
}
#table-item{
    font-size: 25px;
}
/*Header*/
#titre-header{
    margin-left: 32%;
    display: flex   ;
    align-items: center;
}

#logo-header{
    width: 130px;
    height: 130px;
    border-radius: 15px;
    margin-left: 2.5%;
    margin-top: 0.5%;
    display: flex;
}

/*Footer*/
#footer-div{
    height: 240px;
    margin-top: 50px;
    background-color: #dbd0c0;
    border-radius:50px;
}
#logo-footer{
    width: 130px;
    height: 130px;
    margin-left: 130px;
    border-radius: 15px;
    margin-top: 65px;
}
#text-footer{
    color: #242F3F;
    margin-top: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px 200px;
}
/*Présentation l12 - Index.php*/
#video-index{
    align-items: center;
}