body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242F3F;
    color: white;
}
h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 50px;
}
h2{
    font-family: 'Quicksand', sans-serif;
}
/* Division de la page en 2*/
.split-screen {
    display: flex;
}

.split-screen__half {
    flex: 1;
}
/* Camera + Carte*/
#camera{
    width: 500px;
}
/* Scroll up*/
#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}
#to_top{
    width: 5%;
}
/*Chiffres clé*/
.chiffres{
    font-family: 'Quicksand', sans-serif;
}

/* Navbar */
.navbar{
    background-color: #dbd0c0;
    border-radius: 30px;
    font-family: 'Quicksand', bold;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;

}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: #242F3F;
}
.navbar li a:hover{
    color: royalblue
}
.search{
    float: right;
    color: white;
    padding: 12px 75px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}